*{
	margin: 0;
	padding: 0 0;
   
}
body {
	font-family: sans-serif;
}
.container {
	width: 1140px; 
	margin: 0 auto;
    
}
.header{
    background-color: #222222;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 75px;
    position: relative;
}
.header_menu{
    display: flex;
    justify-content:space-between;
}
.header_nav{
    display: flex;
}
.logo{

    margin-top: 18px;
}
.poisk {
     padding-left: 41px;
     padding-top: 28px;
}
.menu{
    padding-top: 28px;
}
.profile{
    padding-left: 33px;
    padding-top: 26px;
}
.cart{
    padding-left: 33px;
    padding-top: 26px;
}
.header-content{
    background-color: #F1E4E6;
    height: 764px;
}
.header_info{
    display: flex;
}

.palk{
    background: #F16D7F;
    Width: 12px;
    height: 92px;
    margin-top: 289px;

}
.txt_info{
    display: flex;


}
.text_info{
 
margin-top: 290px ;
padding-left: 12px;

color: #222222;
}
.HT1{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}
.HT2{
    color: #f16d7f;
}
.brand {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.fashion {
    color: #f16d7f;
}
.card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    text-align: center;
    color: #fff;
}
.kartinka1{
background-image: url(image/woman.png);

}
.kartinka2{
    background-image: url(image/manpng.png);
}
.kartinka3{
    background-image: url(image/kids.png);

}
.card div:last-child{
    margin-right: 0px;
}
.card div {
    margin-right: 30px;
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.long_card{
    background-image: url(image/Rectangle.jpg);
    height:180px;
    width: 1140px;
    margin-top: 30px;
    position: relative;
}
.kartinka4{
    position: absolute;
    margin-top: 65PX;
    margin-left: 491PX;
}
.kartinka4 p{
    color: #fff;
}

.gtavtext{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gtavtext h3{
    font-size: 30px;
    line-height: 36px;
}
.gtavtext p{
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
}
.Pick1{
    display: flex;
    margin-top: 47px;
}
.pi1{
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;;


}

.pi1 h3{
    margin-left: 18px;
    margin-top: 25px;
    font-size: 13px;
line-height: 16px;
color: #000000;
}
.pi1 p{
margin-top: 12px;
margin-left: 16px;
 font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
}
.pi1 h4{
 font-size: 16px;
line-height: 19px;
color: #F16D7F;
margin-top: 18px;
margin-left: 18px;

}
.pi2{
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;;
    margin-left: 30px;
}
.pi2 h3{
    margin-left: 18px;
    margin-top: 25px;
    font-size: 13px;
line-height: 16px;
color: #000000;
}
.pi2 p{
margin-top: 12px;
margin-left: 16px;
 font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
}
.pi2 h4{
 font-size: 16px;
line-height: 19px;
color: #F16D7F;
margin-top: 18px;
margin-left: 18px;
}
.pi3{
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;;
    margin-left: 30px;
}
.pi3 h3{
    margin-left: 18px;
    margin-top: 25px;
    font-size: 13px;
line-height: 16px;
color: #000000;
}
.pi3 p{
margin-top: 12px;
margin-left: 16px;
 font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
}
.pi3 h4{
 font-size: 16px;
line-height: 19px;
color: #F16D7F;
margin-top: 18px;
margin-left: 18px;
}
.Pick2{
    display: flex;
    margin-top: 37px;
}
.pink-button{
    text-decoration: none;
    color: #f16d7f;
    border: thin solid #f16d7f;
    padding: 14.5px 38.5px;
   margin-left: 455px;

}
.pink-buttonn{
    margin-top: 45px;
}
.footer-up{
    background-color: #222224;
    height: 341px;
    width: 100%;
    margin-top: 95px;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding-top: 103px;
}
.natr {
    color: white;
    margin-top: 28.07px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 19.96px;
line-height: 24px;
text-align: center;
}

.natr1 {
    margin-top: 16px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
height: 34px;
width: 360px;
}
.truck{
    margin-left: 158px;
}
.footer-center{
    background-image: url(image/photo.jpg);
    width: 100%;
    height: 448px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-center_content{
    display: flex;
}
.face{
    margin-top: 86px;
    margin-left: 130px;
}
.face_imag div{
    width:359px ;
    height:99px ;
    margin-left: 20px;
    margin-top: 10px;
   
}
.face_imag  p{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #222224;
}
.SUBSCRIBE_text{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 167.2%;
text-align: center;

color: #222224;
}